.register{
  height: 555px;
  overflow: hidden;
}
.register-head{
  width: 100px;
  margin: auto;
  border-bottom: 3px solid #24baef;
  border-bottom-right-radius: 8px;
}
.form-input:focus-within {
  z-index: 2;
}

.form-input .first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
}
.form-input input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

