<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Movies Land</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="isLogin" class="nav-link" aria-current="page" routerLink="home" routerLinkActive="linkactive">Home</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogin" class="nav-link" routerLink="moveis" routerLinkActive="linkactive">Movie</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogin" class="nav-link" routerLink="people" routerLinkActive="linkactive">People</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogin" class="nav-link" routerLink="tv" routerLinkActive="linkactive">TV</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center mx-4">
          <i class="fa-brands fa-facebook mx-2"></i>
          <i class="fa-brands fa-instagram mx-2"></i>
          <i class="fa-brands fa-youtube mx-2"></i>
          <i class="fa-brands fa-spotify mx-2"></i>
          <i class="fa-brands fa-soundcloud mx-2"></i>
        </li>

        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" aria-current="page" routerLink="login" routerLinkActive="linkactive">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLogin" class="nav-link" routerLink="register" routerLinkActive="linkactive">Register</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <span *ngIf="isLogin" class="nav-link logout">Hello {{username.unique_name}}</span>
        </li>
        <li class="nav-item">
          <span (click)="logout()" *ngIf="isLogin" class="nav-link logout">logout</span>
        </li>

      </ul>
    </div>
  </div>
</nav>
