
.login-head{
  width: 100px;
  margin: auto;
  border-bottom: 3px solid #24baef;
  border-bottom-right-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply Animation */
.login {
  animation: fadeIn 0.8s ease-out;
}
